export(
    exponential.q,
    exponential.Np,
    hyperbolic.q,
    hyperbolic.Np,
    hyperbolic.D,
    harmonic.q,
    harmonic.Np,
    harmonic.D,
    hyp2exp.transition,
    hyp2exp.q,
    hyp2exp.Np,
    hyp2exp.D,
    curtailed.q,
    curtailed.Np,
    curtailed.D,
    as.nominal,
    as.effective,
    rescale.by.time,
    curtail,
    arps.decline,
    arps.q,
    arps.Np,
    arps.D,
    best.exponential,
    best.hyperbolic,
    best.hyp2exp,
    best.fit,
    best.exponential.from.Np,
    best.hyperbolic.from.Np,
    best.hyp2exp.from.Np,
    best.fit.from.Np
)

S3method(arps.q, exponential)
S3method(arps.Np, exponential)
S3method(arps.D, exponential)
S3method(arps.q, hyperbolic)
S3method(arps.Np, hyperbolic)
S3method(arps.D, hyperbolic)
S3method(arps.q, hyp2exp)
S3method(arps.Np, hyp2exp)
S3method(arps.D, hyp2exp)
S3method(arps.q, curtailed)
S3method(arps.Np, curtailed)
S3method(arps.D, curtailed)
S3method(print, arps)
S3method(print, exponential)
S3method(print, hyperbolic)
S3method(print, hyp2exp)
S3method(print, curtailed)
